.section [id*="slide"] {
  display: none;
}

.section .slidewrap {
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.section .slidelist {
  white-space: nowrap;
  font-size: 0;
}

.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}

.section .slidelist > li > a {
  display: block;
  position: relative;
}

.section .slide-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.section .slide-control label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.section .slide-control .left {
  left: 0px;
  background: url('../img/left.png') center center / 100% no-repeat;
  color: #225CFF;
}

.section .slide-control .right {
  right: 0px;
  background: url('../img/right.png') center center / 100% no-repeat;
  color: #225CFF;
}

.section .slide-control [class*="control"] {
  display: none;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}

.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}

.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

.section [id="slide01"]:checked ~ .slidewrap .control01 {
  display: block;
}

.section [id="slide02"]:checked ~ .slidewrap .control02 {
  display: block;
}

.section [id="slide03"]:checked ~ .slidewrap .control03 {
  display: block;
}

button{
  background-color: #225CFF;
  color: white;
  border: 1px solid transparent; /* 초기에는 투명한 테두리 */
  transition: border-color 0.3s;
}

button:hover{
  background-color: white;
  color: #225CFF;
  border-color: #225CFF;
}

