@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  
}

body {

  font-family: 'Pretendard-Regular';
  /* padding-left: 310px; */
  /* padding-right: 310px; */
  margin: 0;
}

#wrap {
  margin-left: 200px;
  min-height: 100%;
  position: relative;
}

.box {
  padding-left: 310px;
  padding-right: 310px;
}

.main {
  /*width: ;*/
}

.img {
  width: 565px;
  height: 725.37px;

}

.information {
  width: 650px;
  height: 725.37px;
}

.introduce {
  width: 1300px;
  height: 200px;
}

.login {
  height: 44px;
  width: 1189px;
}

.login > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.login > a:link {
  color: black;
}

.login > a:visited {
  color: black;
}

.topbar {
}

.topbar > a img {
  width: 134px;
  height: 36px;
}

.topbar > a {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: bold;
}

.topbar > a:link {
  color: black;
}

.topbar > a:visited {
  color: black;
}

.topbar a:hover {
  color: #225CFF;
  transition: 0.2s;
}

.search > input {
  width: 348px;
  height: 24px;
}

.search > button img {
  width: 24px;
  height: 24px;
}

.ilust_main {
  margin-top: 50px;
  position: relative;
  left: 300px;
  z-index: -1;
}

.logo_main_right {
  position: relative;
  z-index: 1;
  left: 200px;
  top: -600px;
}

.footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 250px;
  padding-left: 250px;
  background: black;
  width: 100%;
  height: 200px;
}

.about {
  margin-top: 70px;
}

.about > ul li {
  display: inline;
}

.about > ul li a {
  text-decoration: none;
}

.about > ul li a:link {
  color: white;
}

.about > ul li a:visited {
  color: white;
}

.copyright {
  margin-top: 25px;
}

.copyright {
  color: white;
}

.getapp {
  position: relative;
  top: -200px;
  left: 55%;
}

.wlss_shipping {
  font-size: 15px;
  background-color: #225CFF;
  color: white;
  border: none;

  border-radius: 25px 25px;
  padding: 12px;
}

.my_btn {
  font-size: 30px;
  background-color: #225CFF;
  color: white;
  font-weight: bold;
  border-radius: 20px 30px;
}

.form > div {
  witdh: 30px;
  height: 20px;

}

.score {
  width: 50px;
  height: 30px;
}

/* Add these styles to adjust the "무료배송" and "소득공제" buttons */
.my_btn1 {
  width: 66px;
  height: 29px;
  color: #999; /* Adjust the color to your preference */
  background-color: #fff; /* Set the background color to white or any other desired color */
  border: 1px solid #999; /* Add a border for better visibility */
  pointer-events: auto;
  transition: background-color 0.3s, color 0.3s;
  font-size: 10px;
}
.my_btn1:hover{
  color: white; /* Adjust the color to your preference */
  background-color: darkgray; /* Set the background color to white or any other desired color */
}

.my_btn2 {
  width: 177px;
  height: 64px;
  color: white; /* Adjust the color to your preference */
  background-color: #225CFF; /* Set the background color to white or any other desired color */
  border: 1px solid transparent; /* 초기에 투명 테두리 */
  pointer-events: auto;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px;
  font-size: 16px; /* 폰트 크기 조절 */
  font-weight: bold; /* 폰트 두께 조절 */
  /* text-decoration: none !important; */
}
.my_btn2:hover{
  background-color: white;
  color: #225CFF;
  border-color: #225CFF; /* Set the background color to white or any other desired color */
}

.my_btn3 {
  width: 177px;
  height: 64px;
  color: white; /* Adjust the color to your preference */
  background-color: #EF528A; /* Set the background color to white or any other desired color */
  border: 1px solid transparent; /* 초기에 투명 테두리 */
  pointer-events: auto;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px;
  font-size: 16px; /* 폰트 크기 조절 */
  font-weight: bold; /* 폰트 두께 조절 */
}
.my_btn3:hover{
  color: #EF528A; /* Adjust the color to your preference */
  background-color: lightpink; /* Set the background color to white or any other desired color */
  border-color: #EF528A;
}

.my_btn4 {
  width: 102px;
  height: 64px;
  color: #225CFF; /* Adjust the color to your preference */
  background-color: white; /* Set the background color to white or any other desired color */
  border: 2px solid #225CFF; /* Add a border for better visibility */
  pointer-events: auto;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px;
  font-size: 16px; /* 폰트 크기 조절 */
  font-weight: bold; /* 폰트 두께 조절 */
}

.my_btn5 {
  width: 246px;
  height: 46px;
  color: #225CFF; /* Adjust the color to your preference */
  background-color: white; /* Set the background color to white or any other desired color */
  border: 2px solid #225CFF; /* Add a border for better visibility */
  pointer-events: auto;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px;
  font-size: 16px; /* 폰트 크기 조절 */
  font-weight: bold; /* 폰트 두께 조절 */
}

.my_btn4:hover {
  background-color: #225CFF;
  color: white;
}

.my_btn6 {
  width:147px;
  height: 100px;
  float: left;
  margin-left: 2px;
  color:white;
  background-color: #225CFF;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 16px; /* 폰트 크기 조절 */
  font-weight: bold; /* 폰트 두께 조절 */
}

.partial {
  height: 1883px; /* Set the initial height */
  overflow: hidden; /* Hide the overflow */
  position: relative; /* Enable relative positioning */
}

#imageContainer {
  position: relative; /* Enable relative positioning for the container */
}

#imageContainer img {
  width: 1139px; /* 이미지의 원래 가로 크기 */
  height: 7789px; /* 이미지의 원래 세로 크기 */
}

#image-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); /* Add a text shadow for better visibility */
  z-index: 1; /* Ensure the overlay is on top of the image */
}

#image-container-button {
  width: 100%; /* Set the button width to 100% */
  color:gray;
  font-size: 20px;
  font-weight: bold;
  
}

.modal {
  display: none;
  position: absolute;
  right: 0;
  top: 50px; /* 무이자 할부 버튼 바로 밑에 위치하도록 수정 */
  width: 300px;
  border: 1px solid #ccc; /* 테두리 추가 */
  background-color: #fff;
  padding: 20px;
  z-index: 1000; /* 팝업이 다른 요소 위에 나타나도록 수정 */
}

.flttop {
  display: inline-block;
  vertical-align: top;
}

#total-price {
  font-size: 30px;
  color: #EF528A;
}

#quantity {
  display: inline-block; !important; /* 수량 조절 버튼 항상 보이도록 설정 */
}


.footer2 {
  bottom: -4000px;
  position: absolute;
  /* transform: translateY(-100%); */
  height: 10rem;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 250px;
  padding-left: 250px;
  background: black;
  /* width: 100%; */
  height: 200px;
}

.notme {

}
